snippet ExampleDoc "Example doc" b
/// # Examples
/// \`\`\`
/// # use $1;
/// \`\`\`$0
endsnippet
snippet let "let $ident = $expr;" b
let $1 = $2;
endsnippet
snippet letm "let mut $ident = $expr;" b
let mut $1 = $2;
endsnippet
snippet implt "impl Trait for Target {}" b
impl$1 for $2 {
	$0
}
endsnippet
